<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>  
    <div id="app"> 
        <!-- イベントオブジェクトとは、イベントの情報が入ったオブジェクト-->
        <p>現在{{ number }}回クリックされています</p>
        <button v-on:click="countUp(3)">カウントアップ</button> <!-- 無名関数を使用した方法-->
        <p v-on:mousemove="changeMousePosition(3,$event)">マウスを乗せて下さい
            <span v-on:mousemove="noEvent1">反応しないでください</span>
            <!--<span v-on:mousemove.stop>反応しないでください</span>-->
        </p>
        <a v-on:click="noEvent2" href="https://google.com">Google</a>
        <!-- <a v-on:click.prevent href="https://google.com">Google</a> -->
        <!-- 引き数にeventと他の引き数を使用する場合は、$event,他の引き数と記述、順序はとはない-->
        <p>X:{{x}},Y:{{y}}</p>
    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
                number:0,
                x:0,
                y:0
            },
            methods:{
                countUp: function(times){
                    this.number += 1 * times 
                },
                // eventからイベントオブジェクトを取得出来る
                changeMousePosition: function(divideNumber,event){
                    this.x=event.clientX / divideNumber;
                    this.y=event.clientY / divideNumber;
                },
                noEvent1: function(event){
                    event.stopPropagation(); //Propagetion:伝える
                },
                noEvent2: function(event){
                    event.preventDefault();
                }
            }
        })
    </script>
</body>
</html>