<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!--下記3行がテンプレート構文!-->
    <div id="app">
        <h1>{{counter}}</h1>
        <button @click="counter +=1">+1</button>
        <p>{{ otherCounter }}</p>
        <button @click="otherCounter +=1">別の+1</button>
        <p>{{ lessThanThreeComputed }}</p>
        <p>{{ lessThanThreeMethod() }}</p>
    </div>
    <!--下記がjavascript部分!-->
    <script>
        new Vue({
          el: '#app',
            data: {
                counter:0, // 初期値
                otherCounter:0
            },
            computed:{
                lessThanThreeComputed: function(){
                    console.log('Computed')
                    return this.counter > 3 ?'3より上':'3以下'
                }
            },
            methods:{
                lessThanThreeMethod: function(){
                    console.log('Method')
                    return this.counter > 3 ?'3より上':'3以下'
                }
            }
            // computedとmethodsは同じ様に動く
            // methodsは、再描画された度に毎回実行される
            // methodsだけ、counterが変化ないのに、otherCounterに変化があると実行される。(counterが再描画される為)
            // computedは、参照先が変ったとき(this.counter)にみ実行する
    })
    </script>
</body>
</html>