<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!--下記3行がテンプレート構文!-->
    <div id="app">
        <h1>{{counter}}</h1>
        <button @click="counter +=1">+1</button>
        <!--<p>{{ counter > 3? '3より上':'3以下'}}</p>-->
        <!--大規模開発になると上記の表現は見にくい-->
        <p>{{ lessThanThree }}</p>
    </div>
    <!--下記がjavascript部分!-->
    <script>
        new Vue({
          el: '#app',
            data: {
                counter:0 // 初期値
            },
            computed:{
                lessThanThree: function(){
                    return this.counter > 3 ?'3より上':'3以下'
                }
        }
    })
    </script>
</body>
</html>