<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-e" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <div id="app">
        <a v-bind:href="url">Google</a> <!-- v-bind:引き数aという形で指定する-->
                                        <!-- v-bindは省略出来る :href="url"の形可能--> 
        <!-- <a href="{{url}}">Google</a> だとリンクエラーとなる-->  
    </div>
    <script>
        new Vue({
            el:'#app',
            data:{
                url:'https://google.com'
            }
        })
    </script>
</body>
</html>