<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <div id="app">
        <div>{{html}}</div>
        <div v-html="html"></div><!--クロスサイトスクリプティングに注意、信頼のあるコンテンツを表示-->
    </div>
    <script>
        new Vue({
            el: '#app',
            data:{
                html:'<h1>h1です<h1>'
            }
        })
    </script>
</body>
</html>