<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!--下記3行がテンプレート構文!-->
    <div id="app">
        <input type="text" v-model="message"> <!-- v-modelが双方向ディレクティブ-->
        <h1>{{message}}</h1>
    </div>
    <!--下記がjavascript部分!-->
    <script>
        new Vue({
            el: '#app',
            data: {
                message:'こんにちは' // 初期値
            }
        })

        // バインディング：結合
        // データバインディング：HTMLとjavascriptが結合している
    </script>
</body>
</html>