<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>  
    <div id="app"> 
        <!-- イベントオブジェクトとは、イベントの情報が入ったオブジェクト-->
        <p>現在{{ number }}回クリックされています</p>
        <button v-on:click="countUp()">カウントアップ</button> <!-- 無名関数を使用した方法-->
        <p v-on:mousemove="changeMousePosition">マウスを乗せて下さい</p>
        <p>X:{{x}},Y:{{y}}</p>
    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
                number:0,
                x:0,
                y:0
            },
            methods:{
                countUp: function(){
                    this.number += 1
                },
                // eventからイベントオブジェクトを取得出来る
                changeMousePosition: function(event){
                    this.x=event.clientX;
                    this.y=event.clientY;
                }
            }
        })
    </script>
</body>
</html>