<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>  
    <div id="app"> 
        <!-- イベント(マウスが動いた等)に使用するのがv-onディレクティブ-->
        <p>現在{{ number }}回クリックされています</p>
        <button v-on:click="number+=1">カウントアップ1</button> <!-- v-onに直接動作を記述する方法-->
        <button v-on:click="countUp()">カウントアップ2</button> <!-- 無名関数を使用した方法-->
        <!-- v-on:引き数(動作)-->
    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
                number:0
            },
            methods:{
                countUp: function(){
                    this.number += 1
                }
            }
        })
    </script>
</body>
</html>