<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!--下記3行がテンプレート構文!-->
    <!-- ウォッチャとは特定のデータが変わった時に処理したい -->
    <div id="app">
        <h1>{{counter}}</h1>
        <button @click="counter +=1">+1</button>
        <p>{{ lessThanThree }}</p>
    </div>
    <!--下記がjavascript部分!-->
    <script>
        new Vue({
          el: '#app',
            data: {
                counter:0 // 初期値
            },
            // 同期処理
            computed:{
                lessThanThree: function(){
                    console.log('computed')
                    return this.counter > 3 ?'3より上':'3以下'
                }
            },
            // 非同期処理
            watch:{
                counter: function(){
                    // thisは使用出来ない
                    // 3秒後に0にする
                    var vm = this;
                    setTimeout(function(){
                        vm.counter = 0
                    },3000)
                }

            }
    })
    </script>
</body>
</html>