<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>  
    <div id="app"> 
        <!-- イベントオブジェクトとは、イベントの情報が入ったオブジェクト-->
        <p>現在{{ number }}回クリックされています</p>
        <button v-on:click="countUp(3)">カウントアップ</button> <!-- 無名関数を使用した方法-->
        <p v-on:mousemove="changeMousePosition(3,$event)">マウスを乗せて下さい
            <span v-on:mousemove.stop.prevent>反応しないでください</span>
        </p>
        <a v-on:click.stop.prevent href="https://google.com">Google</a>
           <p>X:{{x}},Y:{{y}}</p>
        <input type="text" v-on:keyup.space.enter="myAlert">
        <!-- keyup:押して離した瞬間-->
    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
                number:0,
                x:0,
                y:0
            },
            methods:{
                countUp: function(times){
                    this.number += 1 * times 
                },
                // eventからイベントオブジェクトを取得出来る
                changeMousePosition: function(divideNumber,event){
                    this.x=event.clientX / divideNumber;
                    this.y=event.clientY / divideNumber;
                },
                myAlert: function(){
                    alert('アラート！');
                }

            }
        })
    </script>
</body>
</html>