<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!--下記3行がテンプレート構文!-->
    <div id="app">
        <h1>{{counter}}</h1>
        <button @click="countUp">+1</button>
        <!-- Vue.jsのメソッドイベントハンドラ -->
        <button @click="countUp()">+1</button>
        <!-- {{}}を使用しない場合のMethodは()の省略可能、javaScriptのインライン形式 -->      
        <p>{{ doubleCounterComputed }}</p>
        <p>{{ doubleCounterMethod() }}</p>
        <!-- {{}}の内部で、Computedは()は付けない、Methodは()は付ける -->
    </div>
    <!--下記がjavascript部分!-->
    <script>
        new Vue({
          el: '#app',
            data: {
                counter:0, // 初期値
            },
            computed:{
                doubleCounterComputed: function(){
                    return this.counter *2;
                }
            },
            methods:{
                countUp: function(){
                    console.log('Method')
                    return this.counter += 1;
                },
                doubleCounterMethod: function(){
                    return this.counter *2;
                }
            }
    })
    </script>
</body>
</html>