<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <div id="app">
        <p>{{message}}</p>
        <p>{{name}}</p>
        <p>{{myData}}</p>
        <button @click="name = 'ボタンから変更'">変更</button>
    </div>

    <div id="app2">
    </div>
    <script>

        var data = {
            message:'こんにちは',
            name:'美咲'
        }
        var vm = new Vue({
            //el:'#app',
            data:data,
            computed:{
                myData: function(){
                    return this.$data
                }
            }
        })

        vm.$mount('#app')
        
        new Vue({
            //el:'#app2',
            data:{
                name:'美咲'
            },
            template:'<h1>こんにちは、{{name}}</h1>'
        }).$mount('#app2')
        // タグ毎一つの文字列とする
        </script>
</body>
</html>