<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <div id="app1">
        <p>{{message}}</p>
    </div>

    <div id="app2">
        <p>{{message}}</p>
    </div>
    
    <!-- インスタンスが独立している時に使用する -->
    <script>
        new Vue({
            el:'#app1',
            data:{
                message:'インスタンス1'
            }
        })

        new Vue({
            el:'#app2',
            data:{
                message:'インスタンス2'
            }
        })
    </script>
</body>
</html>