<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <div id="app">
        <p>{{message}}</p>
        <p>{{name}}</p>
        <p>{{myData}}</p>
        <button @click="message= 'ボタンから変更'">変更</button>
    </div>

    <div id="app2">
    </div>
    <div id="app3">
    </div>
    <div id="app4">
        <h1>こんにちは、{{name}}</h1>
        <button @click = "name = '太郎さん'">名前を変更</button>
        <button @click = "destroy">インスタンスを破壊</button>
    </div>
    <script>
    

        var data = {
            message:'こんにちは',
            name:'美咲'
        }
        var vm = new Vue({
            //el:'#app',
            data:data,
            computed:{
                myData: function(){
                    return this.$data
                }
            }
        })

        vm.$mount('#app')
        
        new Vue({
            //el:'#app2',
            data:{
                name:'美咲'
            },
            template:'<h1>こんにちは、{{name}}</h1>'
        }).$mount('#app2')
        // タグ毎一つの文字列とする

        
        new Vue({
            //el:'#app2',
            data:{
                name:'美咲'
            },
            // 引き数はhでもよい
            render:function(createElement){
                return createElement('h1','こんにちは、'+this.name);
                // retunr h('h1','こんにちは、'+this.name)でも良い
            }
        }).$mount('#app3')

        // DOM要素を作っている
        // DOM=Document(key value) Of Model
        var dir = document.createElement('div');
        console.log(dir);
        console.dir(dir) // dirはオブジェクトを返す
        console.log(document);
        console.dir(document) ;
        // doumentはブラウザが作った物

        new Vue({
            el:"#app4",
            data:{
                name:"美咲"
            },
            beforeCreate: function(){
                console.log('beforeCreate')
            },
            created: function(){
                console.log('Created')
            },
            beforeMount: function(){
                console.log('beforeMount')
            },
            mounted: function(){
                console.log('mounted')
            },
            beforeUpdate: function(){
                console.log('beforeUpdate')
            },
            updated:function(){
                console.log('update')
            },
            beforeDestroy: function(){
                console.log('beforeDestroy')
            },
            destroyed:function(){
                console.log('destroyed')
            },
            methods:{
                destroy:function(){
                    this.$destroy()
                }
            }
        })
        </script>
</body>
</html>