<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <div id="app">
        <p>{{message}}</p>
        <p>{{name}}</p>
        <button @click="name = 'ボタンから変更'">変更</button>

    </div>
    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                message:'こんにちは',
                name:'美咲'
                // getter,setter(wacther)がセットされている
            }
        })
        vm.message = '変えました'
        console.log(vm)
        </script>
</body>
</html>