<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <div id="app1">
        <p>{{message}}</p>
    </div>

    <div id="app2">
        <p>{{message}}</p>
        <button @click="changeMessage1">インスタンス1のmessageを変更</button>
    </div>
    
    <script>
        // インスタンスを変数にすることで外からアクセス出来る
        var vm1 = new Vue({
            el:'#app1',
            data:{
                message:'インスタンス1'
            }
        })
        var vm2 = new Vue({
            el:'#app2',
            data:{
                message:'インスタンス2'
            },
            methods:{
                changeMessage1: function(){
                    vm1.message = 'インスタンス2から変えました'
                }
            }
        })
    </script>
</body>
</html>