<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <div id ="app">
        <my-component></my-component>
        <my-component></my-component>
        <my-component></my-component>
    </div>
    <script>
        Vue.component('my-component',{
            // コンポーネントでデータを使用する時は関数にする
            data: function(){
                return{
                    number:12
                }
        },
        template:'<p>いいね({{number}})<button @click="increment">+1</button></p>'
        ,
        methods:{
            increment:function(){
                this.number += 1
            }
        }
        })

        new Vue ({
            el: "#app",
        })
    </script>
</body>
</html>