<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <div id="app">
        <ul>
            <!-- keyを付ける事で、対応づける、templateは使用出来ない-->
            <div v-for="value in fruits" :key="value">
                <p>{{value}}</p>
                <input type="text">
            <div>
        </ul>
        <button @click="remove">先頭を削除</button>
    <div>
    <!-- 要素の移動を最小限にし、可能限り同じタイプの要素を再利用しようとする -->
    <script>
        new Vue({
            el:'#app',
            data:{
                fruits:['りんご','バナナ','ぶどう']
            },
            methods:{
                remove:function(){
                    this.fruits.shift()
                    // shift():先頭を削除
                }
            }
        })
    </script>
</body>
</html>