<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <div id="app">
        <ul>
            <li v-for="(value,index) in fruits">({{index}}){{value}}</li>
        </ul>
        <ul>
            <template v-for="value in fruits">
                <li>{{value}}</li>
                <hr>
            </template>
        </ul>
        <ul>
            <li v-for="n in 10">{{n}}</li>
        </ul>
    <div>

    <script>
        new Vue({
            el:'#app',
            data:{
                fruits:['りんご','バナナ','ぶどう']
            }
        })
    </script>
</body>
</html>