<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <div id="app">
        <!-- 開発ツールで見ると何も表示されないもの、グループ化するもの --> 
        <template v-if="ok">
            <p>Hello</p>
            <p>Good Bye<p>
            <p>おはよう</p>    
        </template>  
        <button @click="ok = !ok">ボタン</button>  
    <div>

    <script>
        new Vue({
            el:'#app',
            data:{
                ok:true     
            }
        })
    </script>
</body>
</html>