<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <div id="app">
        <p v-if="ok">OK!</p>
        <p v-else>Not OK…</p>
        <!-- v-elseは、v-ifの真下に記載-->
    <div>

    <script>
        new Vue({
            el:'#app',
            data:{
                ok:false,
            }
        })
    </script>
</body>
</html>