<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <div id="app">
        <button @click="ok = !ok">ボタン</button>  
        <p v-if="ok">IF</p> <!-- 要素毎消し去る --> <!-- 頻繫 に切り替えるは時間がかかる-->
        <p v-show="ok">Show</p> <!-- displayをnoneにする --><!-- 初期描画が遅い-->
        <p v-show="!ok">no ok</p>
        <!-- v-show-elseのようなものはない -->
        <template v-show="ok">
            <p>TEST</p>
        </template>
        <!-- v-showではテンプレートは使用出来ない、テンプレートは、元々存在しないものだから-->
        
        <!-- 結論
            頻繫に切り替える：v-show
            初期値から条件がほとんど変わらない:v-if
    -->
    <div>

    <script>
        new Vue({
            el:'#app',
            data:{
                ok:true
            }
        })
    </script>
</body>
</html>