<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <div id="app">
        <ul>
            <li v-for="(value,index) in fruits">({{index}}){{value}}</li>
        </ul>
        <ul>
            <li v-for="(value,key,index) in object}}){{key}}-{{value}}</li>   
        </ul>
    <div>

    <script>
        new Vue({
            el:'#app',
            data:{
                fruits:['りんご','バナナ','ぶどう'],
                object:{
                    firstName:'太郎',
                    lastName:'田中',
                    age:'21'
                }
            }
        })
    </script>
</body>
</html>